In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
plt.rcParams["figure.figsize"] = (10,6)
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('autoscoutpart_3_dummy.csv')

In [20]:
df.head().T

                               0        1        2        3        4
price                    15770.0  14500.0  14640.0  14500.0  16790.0
km                       56013.0  80000.0  83450.0  73000.0  16200.0
nr._of_doors                 5.0      3.0      4.0      3.0      5.0
nr._of_seats                 5.0      4.0      4.0      4.0      5.0
cylinders                    3.0      4.0      4.0      3.0      3.0
...                          ...      ...      ...      ...      ...
upholstery_color_orange      0.0      0.0      0.0      0.0      0.0
upholstery_color_other       0.0      0.0      0.0      1.0      0.0
upholstery_color_red         0.0      0.0      0.0      0.0      0.0
upholstery_color_white       0.0      0.0      0.0      0.0      0.0
upholstery_color_yellow      0.0      0.0      0.0      0.0      0.0

[180 rows x 5 columns]